body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
    margin: auto; 
}

#HEADER {
    background-color: #ebebeb;
    text-align: center;
    margin-top: 5px;
    padding: 20px;
    margin-bottom: 10px;
}

#NAV {
    background-color: #ebebeb;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
}

#SECTION {
    background-color: #ebebeb;
    text-align: center;
    float: left;
    font-size: 18px;
    width: 495px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    display: block;
}

#A-side {
    background-color: #ebebeb;
    float: right;
    width: 47%;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    padding-top: 15px;
    padding-bottom: 90px;
    block-size: 200px;
}

footer {
    background-color: #ebebeb;
    text-align: center;
    clear: both;
    margin: auto;
    display: block;
    
}

#ARTICLE {
    color: #ebebeb;
    background: #777;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    width: 98%;
    box-sizing: border-box;
    text-align: center;
    margin: auto;

}

.H1andP {
    color: #777;
    background: #ebebeb;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
    overflow: auto;
}


