body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
    margin: auto;
}

#HEADER {
    background-color: #ebebeb;
}

#NAV {
    background-color: #ebebeb;
}

#SECTION {
    background-color: #ebebeb;
    width: 495px;
    text-align: center;
    float: left;
    width: 50%;
    font-size: 18px;
}

#A-side {
    background-color: #ebebeb;
    float: right;
    width: 50%;
    font-size: 18px;
}

#FOOTER {
    background-color: #ebebeb;
}

#ARTICLE {
    color: #ebebeb;
    background: #777;
}

.H1andP {
    color: #777;
    background: #ebebeb;
}


